*{
    margin : 0px;
    padding : 0px;
}
body{
    background-image: url("space.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color : #ffffff;
    text-align : center;
}
#heading{
    color : white;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding-top : 2rem;
}
.container{
    height : 70vh;
    display : flex;
    justify-content: center;
    align-items: center;
    gap : 1.5vmin;
}
.game{
    height : 60vmin;
    width : 60vmin;
    display : flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap : 1.5vmin;
}
.box{
    height : 18vmin;
    width : 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size : 8vmin;
    color : #000000;
    background-color: #edede9;
}
#reset-btn{
    padding : 1rem;
    font-size : 1.25rem;
    background-color: #191913;
    color: white;
    border-radius : 1rem;
    border : none;
}
#new-btn{
    padding : 1rem;
    font-size : 1.25rem;
    background-color: #2a2a1e;
    color: rgb(255, 255, 255);
    border-radius : 1rem;
    border : none;

}
#msg{
    padding-top : 2rem;
    color : #ffffff;
    font-size : 5vmin;
    gap : 2rem;
}
.msg-container{
    height : 30vmin; 
    padding-top : 3rem;
    gap : 2rem;

}
.hide{
    display :none;
}